.ls_logo {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.ls_footer_button {
    margin-top: .9rem;
}
.ls_footer {
    text-align:center;
    margin-top:2rem;
}
.ls_header {
    text-align:center;
    margin:2rem 0;
}